*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar{
    background: rgb(22, 22, 94);
    color: white;
}

.full-width-container {
  position: relative;
  width: 100%;
}

.background-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.full-width-image {
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  object-fit: cover;
  object-position: center;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-content {
  color: white;
  padding: 2rem;
}

.completa{
 background: rgb(22, 22, 94); 
 height: 150px;
 color: white;
 padding-top:  20px;
}

.image2{
    width: 220px;
    height: 150px;
    border-radius: 50%;
    margin-left: 40px;
}


  .image-container {
    height: 100%;
    max-height: 400px; 
  
  }
  
  .image-container img {
    object-fit: cover;
    height: 100%;
  }




  .card {
      background-color: #0d0d1a;
      border-radius: 10px;
      color: white;
      text-align: center;
      padding: 30px 20px;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      border: 2px solid transparent;
    }

    .card::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      border-radius: 10px;
      border: 4px solid  ;
      border-image-slice: 1;
      pointer-events: none;
      z-index: 0;
    }

    .porcentaje{
      font-size: 2rem;
      font-weight: bold;
     
    }

    .skill-title {
      font-size: 1rem;
      opacity: 0.8;
      
    }

    .fondo2
   {
  
        background: rgb(22, 22, 94);
   
    }

  
    .card1::before { border-image-source: linear-gradient(to right, #8e2de2, #4a00e0); }
    .card2::before { border-image-source: linear-gradient(to right, #4a00e0, #8e2de2); }
    .card3::before { border-image-source: linear-gradient(to right, #8e2de2, #a445b2); }
    .card4::before { border-image-source: linear-gradient(to right, #a445b2, #4a00e0); }
  


@media (max-width: 768px) {
  .full-width-image {
    height: auto;
    min-height: 100vh;
  }
  
  .text-content {
    padding: 1rem;
  }
  
  .overlay-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

    .image-container {
      max-height: 300px;
    }
  }
